/**
**
** START OF CSS RESET
**
**/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
**
** END OF CSS RESET
**
**/

html {
  background: linear-gradient(135deg, #00a26f 0%, #b0e295 100%);
  background-attachment: fixed, scroll;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav li a {
  font-family: "Hammersmith One", sans-serif;
}

q,
p,
a,
label,
select {
  font-family: "Roboto", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 2rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

nav ul {
  padding: 7px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  color: #00a26f;
  padding-left: 1rem;
  text-decoration: none;
}

nav ul li:first-child a {
  padding-left: 0rem;
  color: black;
}

form {
  width: 25rem;
  margin: 103px 0 5rem 5rem;
  padding: 3rem;
  background-color: white;
  border-radius: 0.5rem;
  display: block;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

input {
  width: 100%;
  height: 2rem;
  text-indent: 2rem;
  position: fixed;
  top: 32px;
  border: 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

form label {
  display: block;
  text-transform: uppercase;
  color: darkgrey;
  font-size: 1rem;
  margin: 0.5rem 0;
}

form select {
  margin: 0.5rem 0;
}

aside {
  position: fixed;
  left: 610px;
  top: 103px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 3rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

aside h2,
form h2,
section h2 {
  margin-bottom: 1rem;
}

aside span {
  font-size: 3rem;
  color: #0f0;
}

aside p {
  margin-top: 1rem;
}

section {
  width: 51.5rem;
  margin: 103px 0 5rem 5rem;
  padding: 3rem;
  background-color: white;
  border-radius: 0.5rem;
  display: block;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

button {
  margin: 1rem 0;
  padding: 6px 12px;
  color: white;
  border: 1px solid black;
  background: -webkit-linear-gradient(top, #999 5%, #888 100%);
}
