{{#risico-filter
  filter=(action 'filterByLabel')
  as |filteredResults|}}
  <form>
    {{#each filteredResults as |risicoFactor|}}
      {{risico-list risico=risicoFactor}}
    {{/each}}
  </form>
{{/risico-filter}}

<aside>
  <h2></h2>
  <span id="risk">-</span>
  <p>Dit is een indicatie en dat soort dingen.</p>
  {{reset-button
    text="Reset"
  }}
</aside>

{{outlet}}
